body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.links {
    display: flex;
    gap: 15px;
    padding-right: 60px;
}

.Logo {
   font-size: 24px;
   padding-left: 60px; 
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.Matterhorn {
    width: 300px;
    height: auto;
    padding: 20px;
    flex: 1;
    max-width: 300px;
}

.GrandTetons {
    width: 100px;
    height: auto;
    border: 2px solid  #3882F6;
}

.container1 {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    background-color: #1F2937;
    padding-bottom: 100px;
    gap: 250px;
    overflow: hidden;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
    flex-wrap: wrap;
}

.container2-1 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container2-2 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.container4 {
    display: flex;
    background-color: #3882F6;
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-top: 15px;
    padding-right: 60px;
    padding-left: 40px;
    padding-bottom: 25px;
    flex-wrap: wrap;
}

.container1-title {
   font-size: 48px;
   font-weight: 900;
   width: 400px;

}

.container1-p {
    color: #E5E7EB;
    font-size: 18px;
    width: 250px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    border-radius: 5px;
    border: #1F2937;
}

footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container3 {
    background-color: #E5E7EB;
    flex-wrap: wrap;
}

.container3-quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    max-width: 700px;
    text-wrap: wrap;
}

.container3-Thor {
    color: #1F2937;
    font-weight: 700;
    text-wrap: wrap;
    align-self: flex-end;
}

.container2-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.container2-2p {
    width: 100px;
}

.container3-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container4-0 {
    display: flex;
    justify-content: center;
    background-color: #f9faf8;
}

h5 {
    color: #f9faf8;
    font-size: 18px;
}

.container4-p {
    color: #E5E7EB;
    margin-top: -25px;
    font-size: 14px;
}

.button4 {
    height: 30px;
    width: 80px;
    border: solid #E5E7EB;
    margin-top: 15px;
}

.container4-1 {
    padding-left: 30px;
}

.container1-1 {
    flex: 1;
    max-width: 100px;
    padding: 20px;
}