body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    background-color: rgb(70, 70, 85);
}

.logo {
}

img {
    max-width: 200px;
}